.electionBallot{
	padding: 10px;
}
.electionBallot .ebHelp {
	line-height: 20px;
}
.electionBallot .ebRow {
	line-height: 30px;
	margin: 0 0 0 20px;
}
.electionBallot .ebName {
	font-weight: bold;
}
.electionBallot .ebInstructions {
	margin: 20px 0 10px 20px;
}
.ebOffice{
	font-weight:bold;
	margin:10px 0px 10px 0px;
}
.ebButtonContainer{
	margin:10px 0px 0px 0px;
}
.ebBioContainer{
				width:400px;
}
.ebBioContainer h1{
				margin:0px 0px 5px 0px
}
.ebBioContainer p{
				margin:5px 0px 5px 0px
}
.ebBioContainer p.phone{
				margin:5px 0px 10px 0px
}
.ebBioContainer p.title{
				font-style:italic;
}
.ebBioContainer p.company{
				font-weight:bold;
}
.ebBioContainer img{
				float:right;
				margin:10px 10px 10px 10px;
				width: 80px;
				height: 80px;
}
.ebBioWrapper{
				display:none;
}
.ebPhoto {
}
